ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

ion-item {
  padding: .5em;
}

small {
  color: #cecbcb;
}

ion-badge {
  --background: #FF328B;
}
