<!-- MAIN CONTENT -->
<ion-content class="ion-padding">

  <ion-thumbnail>
    <ion-avatar></ion-avatar>
    <ion-icon name="camera-sharp" size="large"></ion-icon>
  </ion-thumbnail>

  <ion-text color="dark">
    <h2>
      Create an account
    </h2>
  </ion-text>

  <form (ngSubmit)="handleSignUp()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" placeholder="First name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" placeholder="Last name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="email" placeholder="Email address" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="text" placeholder="Phone number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input type="text" placeholder="Enter username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" placeholder="Enter password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" size="large" type="submit" disabled="!validated">Sign up</ion-button>
  </form>

    <p><i>Have an account? <a [routerLink]="['/login-in']" >Log In here</a></i></p>
</ion-content>
