<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<!-- main content showing list of orphanage -->
<ion-content class="ion-padding">
  <ion-img src="assets/orphanage1.png"></ion-img>
  <ion-button expand="block" size="large" >Get Started</ion-button>
  <ion-img src="assets/orphanage2.png"></ion-img>
  <ion-button expand="block" size="large" >Get Started</ion-button>
  <ion-img src="assets/orphanage3.png"></ion-img>
  <ion-button expand="block" size="large" >Get Started</ion-button>
</ion-content>
