ion-content {
  --padding-top: 60px;
}

.ion-content-scroll-host {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

p {
  text-align: center;
  line-height: 28px;
  padding: 15px 0px 40px 0px;
  color: #999999;
}

ion-button {
  --background: #ED1E78;
}

h1 {
  --color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
