<ion-content class="ion-padding">
  <ion-img src="assets/lady-animation.png" alt="lady-animation"></ion-img>

    <ion-text color="dark">
      <h1 class="getStartedTitle">
      Give clothes to the community
      with just a click!
      </h1>
    </ion-text>

    <p>
      <ion-text>
        With Cladbox, make vulnerable children
         and adults all over Nigeria reach their potential, overcome prejudice, work their way out of poverty and become confident
         by supplying them with good clothings.
      </ion-text>
    </p>
  <ion-button expand="block" size="large" >Get Started</ion-button>
</ion-content>






