<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-title>Notifications</ion-title>  

    <ion-buttons slot="end" [routerLink]="['/user-profile']">
      <ion-avatar>
        <img alt="member" src="../../../assets/member-1.png">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- MAIN CONTENT -->
<ion-content class="ion-padding">
  <div class="ion-content-scroll-host ion-padding">

    <ion-list>

      <ion-item button lines="inset">
        <ion-icon name="person-sharp" color="secondary"></ion-icon>
        <ion-label><h2>Your Actions</h2></ion-label>
        <ion-badge>{{notify}}</ion-badge>
      </ion-item>

      <ion-item button lines="inset">
        <ion-icon name="people-sharp" color="success"></ion-icon>
        <ion-label><h2>Community</h2></ion-label>
        <ion-badge>{{notify}}</ion-badge>
      </ion-item>

      <ion-item button lines="inset">
        <ion-icon name="megaphone-sharp" color="danger"></ion-icon>
        <ion-label><h2>Admin</h2></ion-label>
        <ion-badge>{{notify}}</ion-badge>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
