ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

ion-item {
  padding-top: 1.5em;
}

h4 {
  padding-left: 1em;
}

ion-icon {
  padding-right: .5em;
}
