<!-- HEADER -->
<app-header></app-header>

<!-- BODY CONTENT -->
<ion-content class="ion-padding">
  <div class="ion-content-scroll-host ion-padding">
  <ion-img src="assets/big-heart.png" alt="The big heart"></ion-img>

  <ion-text color="dark">
    <h1>
      Hello Fiona!
    </h1>
  </ion-text>

  <ion-grid [fixed]="true" >
    <ion-row>
      <ion-col size="4" offset="1">
        <ion-button size="large" [routerLink]="['/donation']">
          <ion-icon name="gift-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Make Donations</ion-text></small></p>
      </ion-col>

      <ion-col size="3" offset="3">
        <ion-button size="large" [routerLink]="['/chat']">
          <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Chats</ion-text></small></p>
      </ion-col>

      <ion-col size="4" offset="1">
        <ion-button size="large" [routerLink]="['/donation-history']">
          <ion-icon name="wallet-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Donation History</ion-text></small></p>
      </ion-col>

      <ion-col size="4" offset="2.5">
        <ion-button size="large" [routerLink]="['/set-reminder']">
          <ion-icon name="alarm-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Set Remainder</ion-text></small></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
