ion-content {
  --background: #A61453;
  --color: #f1e8eb;
}

.ion-content-scroll-host {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

ion-img {
  padding-top: 10em;
}

ion-toolbar {
  padding: 0em 1em;
  --color: #f1e8eb;
  --background: #A61453;
}

ion-icon {
  color: #f7036d;
}
