ion-content {
  --background: #A61453;
  --color: #f1e8eb;
}

ion-img {
  padding-top: 10em;
}

ion-toolbar {
  padding: 0em 1em;
  --color: #f1e8eb;
  --background: #A61453;
}

ion-icon {
  color: #f7036d;
}
