<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start" >
      <ion-icon name="chevron-back-outline" slot="icon-only" color="primary" (click)="navBack()"></ion-icon>
    </ion-buttons>

    <ion-title>Schedule Date & Time</ion-title>  

  </ion-toolbar>
</ion-header>

<!-- MAIN CONTENT -->
<ion-content class="ion-padding">
  <div class="ion-content-scroll-host ion-padding">

    <form #date="ngForm" (ngSubmit)="handleSchedule(date)">
      
      <ion-datetime
        name="date"
        class="form-control"
        ngModel
        #dropoff="ngModel"

        locale="en-US"
        size="cover">
        <span slot="title">Select a Reservation Date & Time</span>
      </ion-datetime>
  
      <ion-button expand="block" size="large" type="submit" *ngIf="date.dirty" [routerLink]="['/dropoff-select']">Next</ion-button>
    </form>
  </div>
</ion-content>
