ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

ion-datetime {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3em;
}

ion-button {
  --background: #ED1E78;
  margin-top: 3em;
}
