<!-- HEADER -->
<app-header></app-header>

<ion-content class="ion-padding">
  <div class="first">
    <div class="a">
      <h5>Hope Home</h5>
      <small>Cash donation.</small>
    </div>
    <div class="b">
      <h5>4 June, 2022</h5>
      <small>successful</small>
    </div>
  </div>

  <div class="second">
    <div class="a">
      <h5>Hope Home</h5>
      <small>Cash donation.</small>
    </div>
    <div class="b">
      <h5>4 June, 2022</h5>
      <small>successful</small>
    </div>
  </div>

  <ion-button size="large">View All</ion-button>
</ion-content>
