<ion-content class="ion-padding">

  <ion-img src="assets/Rectangle 88.png" alt="logo"></ion-img>
  <ion-text color="dark">
    <h1>
      Recover password
    </h1>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label position="floating">username</ion-label>
      <ion-input type="text" placeholder="Enter username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email address</ion-label>
      <ion-input type="email" placeholder="Email address"></ion-input>
    </ion-item>
  </ion-list>
  <div>
    <ion-button expand="block" size="large">Recover Password</ion-button>
  </div>
</ion-content>
