
.ion-content-scroll-host {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

ion-button {
  --background: #ED1E78;
  margin-top: 1em;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

ion-item {
  padding-bottom: .5em;
}

ion-icon {
  color: #ED1E78;
  padding: .5em;
  font-size: 14px;
}

.error-massage {
  color: red;
  margin-left: 15px;
}
