<ion-content class="ion-padding">
  <div class="ion-content-scroll-host ion-padding">
    <ion-buttons [routerLink]="['/login-in']">
      <ion-icon name="close-outline" size="small"></ion-icon>
    </ion-buttons>
    <ion-img src="assets/Rectangle 88.png" alt="logo"></ion-img>

    <ion-text>
      <h1>
        Reset password
      </h1>
    </ion-text>

    <form #reset="ngForm" (ngSubmit)="handleReset(reset)">

      <ion-list>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input 
            required
            minlength="4" 
            type="text" 
            name="username" 
            placeholder="Enter username" 
            class="form-control"  
            #username="ngModel" 
            ngModel>
          </ion-input>

          <!-- <div 
            *ngIf="username.touched && 
            username.invalid" class="error-massage">
            Please input Username
          </div> -->
          <!-- <div *ngIf="!memberUsername" class="error-massage">
            Wrong Username.
          </div> -->

        </ion-item>

        <ion-item>
          <ion-label position="floating">New password</ion-label>
          <ion-input   required
            minlength="4" 
            maxlength="10"
            type="password" 
            name="password" 
            placeholder="Password" 
            class="form-control"  
            #password="ngModel" 
            ngModel>
          </ion-input>
          <ion-icon name="eye-off-outline" slot="end" size="small"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm new password</ion-label>
          <ion-input   required
            minlength="4" 
            maxlength="10"
            type="password" 
            name="resetPassword" 
            placeholder="Confirm Password" 
            class="form-control"  
            #resetPassword="ngModel" 
            ngModel>
          </ion-input>
          <ion-icon name="eye-off-outline" slot="end" size="small"></ion-icon>
        
          <!-- <div 
            *ngIf="password.touched && 
            password.invalid" class="error-massage">
            Please input password.
          </div> -->
          <!-- <div *ngIf="!memberPassword" class="error-massage">
            Wrong Password.
          </div> -->

        </ion-item>

      </ion-list>
      
      <ion-button expand="block" size="large" type="submit" >Reset Password</ion-button>

    </form>

  </div>
</ion-content>
<!-- [routerLink]="['/login-in']" -->