<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
    </ion-buttons>

    <ion-title>Hello Fiona</ion-title>

    <ion-buttons slot="end" [routerLink]="['/user-profile']">
      <ion-thumbnail>
        <img alt="member" src="assets/member-1.png">
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- BODY CONTENT -->
<ion-content class="ion-padding">

</ion-content>
