<!-- BOTTOM TAB -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-page">
      <ion-icon name="home-outline"  aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-us">
      <ion-icon name="information-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline" aria-hidden="true"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
