ion-content ion-img {
  height: 10em;
}

.line {
  padding-bottom: .5em;
  width: 100%;
  border-top: 1px solid rgb(18, 18, 18);
  margin: 8px 0;
}

.input {
  border: solid 1.5px #212121;
  border-radius: 1em 1em 0em 0em;
  padding: .5em .5em;
  margin-bottom: 2em;
}

ion-item {
  padding-bottom: 1em;
}

ion-checkbox {
  --size: 32px;
  --background-checked: #f14590;
}

ion-checkbox::part(container) {
  border: 2px solid  #ddd;
}

ion-radio {
  width: 30px;
  height: 30px;
}

ion-radio::part(container) {
  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #f14590;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}

ion-button {
  margin-top: 1em;
}
