.ion-content-scroll-host {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

ion-button {
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 0px;
}

ion-input {
  --padding-top: 50px;
}

a {
  color: #ED1E78;
  text-decoration: none;
}

ion-icon {
  color: #ED1E78;
  padding: .5em;
  font-size: 14px;
}

.error-massage {
  color: red;
  margin-left: 15px;
}