<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
    </ion-buttons>

    <ion-title>Make Donation</ion-title>

    <ion-buttons slot="end" [routerLink]="['/user-profile']">
      <ion-thumbnail>
        <img alt="member" src="assets/member-1.png">
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- MAIN CONTENT -->
<ion-content class="ion-padding">
  <div class="ion-content-scroll-host ion-padding">
    <div>
      <ion-img src="assets/orphanage1.png"></ion-img>
      <ion-text>orphanage1</ion-text>
    </div>
    <ion-button expand="block" size="large" [routerLink]="['/donate']">Donate</ion-button>
    <div>
      <ion-img src="assets/orphanage2.png"></ion-img>
      <ion-text>orphanage2</ion-text>
    </div>
    <ion-button expand="block" size="large" >Donate</ion-button>
    <div>
      <ion-img src="assets/orphanage3.png"></ion-img>
      <ion-text>orphanage3</ion-text>
    </div>
    <ion-button expand="block" size="large" >Donate</ion-button>
  </div>
</ion-content>

<!-- BOTTOM TAB -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-page">
      <ion-icon name="home-outline"  aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-us">
      <ion-icon name="information-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline" aria-hidden="true"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
