ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

.ion-content-scroll-host {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

ion-item {
  padding-top: 1.5em;
}

ion-item ion-icon {
  color: hsl(48, 98%, 45%);
}

h4 {
  padding-left: 1em;
}

ion-badge {
  --background: #FF328B;
}
