<!-- HEADER -->
<app-header></app-header>

<!-- MAIN CONTENT -->
<ion-content class="ion-padding">
  <div class="ion-content-scroll-host ion-padding">

    <form #pickup="ngForm" (ngSubmit)="handlePickup(pickup)">

      <ion-datetime
        name="pickup"
        class="form-control"
        ngModel
        #pickup="ngModel"

        locale="en-US"
        size="cover">
        <span slot="title">Select a Reservation Date & Time</span>
      </ion-datetime>
  
      <ion-button expand="block" size="large" type="submit" [routerLink]="['/book-pickup']">Next</ion-button>
    </form>
  </div>
</ion-content>
