<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Donate</ion-title>
    <ion-buttons slot="end">
      <ion-thumbnail>
        <img alt="member" src="assets/member-1.png">
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-img src="assets/orphanage1.png"></ion-img>
    <div>
      <ion-text><h1>Hope orphanage</h1></ion-text>
      <p><ion-text>Empowering homeless kids</ion-text></p>
    </div>
    <ion-text><h3>About Us</h3></ion-text>
    <p><small><ion-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</ion-text></small></p>
  <ion-button expand="block" size="large" >Message Now</ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid >
      <ion-row>
        <ion-col size="1" offset="1.5">
          <ion-icon name="home-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="1" offset="3">
          <ion-icon name="people-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="1" offset="3">
          <ion-icon name="notifications-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

