ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

div {
  text-align: center;
}

h2 {
  font-weight: 500;
}

p {
  font-weight: lighter;
}

h5 {
  font-weight: lighter;
}

small {
  font-weight: lighter;
}

ion-button {
  --background: #ED1E78;
  margin-top: 2em;
}

ion-badge {
  --background: #FF328B;
}
