ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

div {
  text-align: center;
}

ion-text {
  font-weight: bolder;
}

ion-button {
  --background: #ED1E78;
  margin-top: 1.5em;
}
