ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

.bttn {
  padding: 5em 0em 0em 9em;
}

ion-button {
  width: 90px;
  height: 90px;
  --border-radius: 170px;
  --background: #ffffff;
  color:  #ED1E78;
  box-shadow: 10px -10px  rgba(129, 127, 127, 0.6);
  -moz-box-shadow: 10px -10px  rgba(129, 127, 127, 0.6);
  -webkit-box-shadow: 2px 5px  rgba(129, 127, 127, 0.3);
  -o-box-shadow: 10px -10px  rgba(129, 127, 127, 0.4);
  border-radius: 100px;
}

.bttn ion-icon {
  font-size: 64px;
}

h4 {
  text-align: center;
}
