ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

div {
  width: 20
  em;
  height: 10em;
  background-color: rgb(13, 115, 39);
  border-radius: 15px;
}

ion-button {
  --background: #ED1E78;
}
