ion-toolbar {
  --padding-top: .8em;
  --padding-start: .5em;
  --padding-end: 1em;
  --padding-bottom: .8em;
}

ion-title {
  font-weight: lighter;
  font-size: 1.8rem;
}

ion-datetime {
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.setted-reminder {
  min-height: 8em;
  background-color: #E5E5E5;
  border-radius: .5em;
}

h5 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: .2em;
  font-weight: bold;
}

p {
  color: #999999;
  text-align: right;
  line-height: .5em;
  padding-right: 1em;
}

ion-button {
  --background: #ED1E78;
  margin-top: .8em;
}
