<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
    </ion-buttons>

    <ion-title>Donate Cash</ion-title>

    <ion-buttons slot="end" [routerLink]="['/user-profile']">
      <ion-thumbnail>
        <ion-img alt="member" src="assets/member-1.png"></ion-img>
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- BODY CONTENT -->
<ion-content class="ion-padding">
  <ion-img src="assets/sharelove.png" alt="The big heart"></ion-img>

  <h5>Amount</h5>
  <ion-input placeholder="Please enter amount"></ion-input>

  <h5>Payment Option</h5>
  <ion-list>
    <ion-radio-group [allowEmptySelection]="true" value=" ">
      <ion-item>
        <ion-label>Creditcard</ion-label>
        <ion-radio value="Creditcard"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Paypal</ion-label>
        <ion-radio value="Paypal"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="block" size="large" [routerLink]="['/sign-up']" >Next</ion-button>
</ion-content>
