<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Hello Fiona!</ion-title>
    <ion-buttons slot="end">
      <ion-thumbnail>
        <img alt="member" src="assets/member-1.png">
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/big-heart.png" alt="The big heart"></ion-img>
  <ion-text color="dark">
    <h1>
      Hello Fiona!
    </h1>
  </ion-text>
  <ion-grid [fixed]="true" >
    <ion-row>
      <ion-col size="4" offset="1">
        <ion-button size="large">
          <ion-icon name="gift-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Make Donations</ion-text></small></p>
      </ion-col>
      <ion-col size="3" offset="3">
        <ion-button size="large">
          <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Chats</ion-text></small></p>
      </ion-col>
      <ion-col size="4" offset="1">
        <ion-button size="large">
          <ion-icon name="wallet-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Donation History</ion-text></small></p>
      </ion-col>
      <ion-col size="4" offset="2.5">
        <ion-button size="large">
          <ion-icon name="alarm-outline" size="large"></ion-icon>
        </ion-button>
        <p><small><ion-text>Set Remainder</ion-text></small></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="1" offset="1.5">
          <ion-icon name="home-outline" size="small"></ion-icon>
        </ion-col>
        <ion-col size="1" offset="3">
          <ion-icon name="people-outline" size="small"></ion-icon>
        </ion-col>
        <ion-col size="1" offset="3">
          <ion-icon name="notifications-outline" size="small"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
