ion-img {
  max-width: 75%;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

ion-button {
  --background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #FF328B;
  margin: auto;
  border-radius: 10px;
}

ion-col {
  text-align: center;
  padding-top: 20px;
}
