<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start" >
      <ion-icon name="chevron-back-outline" slot="icon-only" color="primary" (click)="navBack()"></ion-icon>
    </ion-buttons>

    <ion-title>Book Pickup</ion-title>  

  </ion-toolbar>
</ion-header> 

<!-- BODY CONTENT -->
<ion-content class="ion-padding">
  <form #booking="ngForm" (ngSubmit)="handleBooking(booking)">

    <h5>Pickup Address</h5>
    <div>
      <ion-input 
      required
      type="text" 
      name="pickupAddress" 
      class="form-control"  
      #pickupAddress="ngModel" 
      ngModel>
      </ion-input>
    </div>

    <h5>Delivery Address <i>(Charity Home/NGO)</i></h5>
    <div>
      <ion-input 
      required
      type="text" 
      name="deliveryAddress" 
      class="form-control"  
      #deliveryAddress="ngModel" 
      ngModel>
      </ion-input>
    </div>

    <h5>Sender's Phone Number</h5>
    <div>
      <ion-input 
      required
      type="tel" 
      name="senderPhoneNumber" 
      class="form-control"  
      #senderPhoneNumber="ngModel" 
      ngModel>
      </ion-input>
    </div>

    <h5>Receiver's Phone Number</h5>
    <div>
      <ion-input 
      required
      type="tel" 
      name="receiverPhoneNumber" 
      class="form-control"  
      #receiverPhoneNumber="ngModel" 
      ngModel>
      </ion-input>
    </div>

    <ion-button expand="block" size="large" type="submit" [disabled]="!booking.valid" [routerLink]="['/schedule-dropoff']">Next</ion-button>
  </form>
</ion-content>
