<!-- HEADER -->
<app-header></app-header>

<!-- BODY CONTENT -->
<ion-content class="ion-padding">
  <h5>Pickup Address</h5>
  <div>
    <ion-input type="text"></ion-input>
  </div>

  <h5>Delivery Address <i>(Charity Home/NGO)</i></h5>
  <div>
    <ion-input type="text"></ion-input>
  </div>

  <h5>Sender's Phone Number</h5>
  <div>
    <ion-input type="text"></ion-input>
  </div>

  <h5>Receiver's Phone Number</h5>
  <div>
    <ion-input type="text"></ion-input>
  </div>

  <ion-button expand="block" size="large" [routerLink]="['/pickup-select']" >Next</ion-button>
</ion-content>
